/******************************************************************************\
	Bulma
\******************************************************************************/

@import 'bulma/bulma';
@import 'lib/bulma/checkbox';
@import 'lib/bulma/dropdown';
@import 'lib/bulma/panel';
@import 'lib/bulma/radio';
@import 'lib/bulma/table';





/******************************************************************************\
	FontAwesome
\******************************************************************************/

@import '@fortawesome/fontawesome-svg-core/styles.css';
